In [1]:
import os
import sys
from pathlib import Path

lib_dir = Path("..") #folder cotaining dir paysim_analysis
module_path = os.path.abspath(os.path.join(lib_dir))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from paysim_analysis.data_transformation import DatasetTransformer
from paysim_analysis.utils import get_project_folder

In [3]:
dir_ = get_project_folder().parent / "data" 
df = pd.read_csv(dir_ / "PS_20174392719_1491204439457_log.csv")
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [4]:
dataset_trans = DatasetTransformer().run(df)
dataset_trans.head()

FILTERING STEP, removed 3592211 data records
DATA ENRICHMENT done in 43 sec

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,avgAmtOrigStep,countOrigStep,avgAmtOrig,countOrig,avgAmtDestStep,countDestStep,avgAmtDest,countDest,is_CASH_OUT,isFraud
0,-1.701805,-0.357467,-0.188847,-0.106389,-0.403155,-0.438259,-0.357467,-0.003063,-0.357680,-0.0358,-0.366704,-0.268293,-0.137416,1.77898,False,True
1,-1.666499,-0.233783,-0.023046,-0.106389,-0.403155,-0.414743,-0.233784,-0.003063,-0.233923,-0.0358,-0.239825,-0.268293,-0.137416,1.77898,False,False
2,-1.652376,-0.231940,-0.180229,-0.106389,-0.379553,-0.437136,-0.231940,-0.003063,-0.232078,-0.0358,-0.237933,-0.268293,-0.137416,1.77898,True,False
3,-1.645315,1.272583,0.071584,-0.106389,-0.401911,-0.156526,1.272584,-0.003063,1.273341,-0.0358,1.305468,-0.268293,-0.137416,1.77898,False,False
4,-1.610009,0.026233,-0.189568,-0.106389,-0.094569,-0.142163,0.026233,-0.003063,0.026249,-0.0358,0.026911,-0.268293,-0.137416,1.77898,True,False

In [5]:
dataset_trans.to_csv(dir_ / "processed/PS_20174392719_1491204439457_log.csv", index=False)

In [6]:
dataset_trans.shape

(2770409, 16)